body {
  background: #1C1C1C;
  color: #F2F2F2;
  margin: 0px 0px 46px 0px;
  font-family: "Open Sans", sans-serif; }
  @media screen and (min-width: 960px) {
    body {
      margin: 0; } }

.clearfix {
  clear: both; }

h1, h2, h3, h4, h5, h6 {
  margin: 16px 0px; }

#wrapper {
  background: #393939;
  display: grid;
  grid-row-gap: 1em;
  grid-template-columns: 1fr;
  height: 100%;
  margin: 0 auto;
  padding: 4px 8px 32px 8px; }
  #wrapper #content {
    display: grid;
    grid-row-gap: 1em;
    grid-template-columns: 1fr; }
    @media screen and (max-width: 960px) {
      #wrapper #content {
        font-size: 110%;
        letter-spacing: 2px;
        line-height: 1.4; } }
  @media screen and (min-width: 960px) {
    #wrapper {
      border-left: 4px solid #2A2A2A;
      border-right: 4px solid #2A2A2A;
      padding: 10px 20px 22px 20px;
      width: 910px; } }
  @media screen and (min-width: 1200px) {
    #wrapper {
      width: 1150px; } }

header {
  display: grid;
  grid-row-gap: 1em;
  grid-template-columns: 1fr; }
  header hgroup {
    border-bottom: 1px solid #6A6A6A;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 10px; }
    @media screen and (min-width: 960px) {
      header hgroup {
        border-bottom: 0;
        padding: 0; } }

#error-404 {
  text-align: center; }

#landing-forms {
  display: grid;
  grid-row-gap: 2em;
  grid-template-columns: 1fr; }
  @media screen and (min-width: 768px) {
    #landing-forms form {
      grid-template-rows: repeat(6, 1fr); } }
  @media screen and (min-width: 768px) {
    #landing-forms {
      grid-column-gap: 2em;
      grid-row-gap: 0;
      grid-template-columns: 1fr 1fr; } }

form {
  display: grid;
  grid-row-gap: 0.8em;
  grid-template-columns: 1fr; }
  form h2 {
    margin: 10px 0px; }
  form .form-field {
    display: grid;
    grid-row-gap: 0.5em;
    grid-template-columns: 1fr; }
    @media screen and (min-width: 960px) {
      form .form-field:not(.vertical-field) {
        align-content: center;
        grid-column-gap: 1em;
        grid-row-gap: 0;
        grid-template-columns: 160px 1fr; }
        form .form-field:not(.vertical-field) label {
          padding-top: 8px; } }

#forum-list {
  display: grid;
  grid-row-gap: 1em;
  grid-template-columns: 1fr; }
  #forum-list .forum .forum-title {
    font-weight: bold;
    margin-bottom: 0.4em; }
  #forum-list .forum .subforum-list {
    display: grid;
    grid-row-gap: 0.8em;
    grid-template-columns: 1fr; }
    #forum-list .forum .subforum-list .subforum {
      border-bottom: 1px dashed #505050;
      padding-left: 10px; }
      #forum-list .forum .subforum-list .subforum .subforum-title {
        display: block; }
      #forum-list .forum .subforum-list .subforum .subforum-description {
        margin: 10px 0px 16px 10px; }

#subforum #subforum-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em; }
  #subforum #subforum-title h2 {
    margin: 0px; }
  #subforum #subforum-title a.btn {
    margin: 0px; }
#subforum #thread-list {
  display: grid;
  grid-row-gap: 1em;
  grid-template-columns: 1fr; }
  #subforum #thread-list .thread {
    border-bottom: 1px dotted #6A6A6A;
    display: grid;
    grid-column-gap: .4em;
    grid-template-areas: "t t c" "u u u";
    grid-row-gap: .4em;
    padding: 0px 0px 8px 8px; }
    #subforum #thread-list .thread .thread-title {
      grid-area: t; }
    #subforum #thread-list .thread .thread-creator {
      grid-area: c;
      text-align: right; }
    #subforum #thread-list .thread .thread-last-post {
      grid-area: u;
      font-size: 90%; }
    @media screen and (min-width: 960px) {
      #subforum #thread-list .thread {
        grid-template-areas: "t t t t t c" "u u u u u u"; } }

#thread #thread-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px; }
  #thread #thread-title h2 {
    margin: 0px; }
  #thread #thread-title a.btn {
    margin: 0px; }
#thread #message-list {
  width: 100%; }
#thread #thread-more {
  display: flex;
  justify-content: space-between; }
  #thread #thread-more #thread-pagination {
    list-style: none;
    margin-top: 24px; }
    #thread #thread-more #thread-pagination li {
      display: inline-block; }
      #thread #thread-more #thread-pagination li a {
        background: #B7006A;
        color: #F2F2F2;
        cursor: pointer;
        margin: 0px 6px;
        padding: 8px 16px; }
        #thread #thread-more #thread-pagination li a:hover, #thread #thread-more #thread-pagination li a:active, #thread #thread-more #thread-pagination li a.active {
          background: #DD1188; }

#message-list .message {
  margin-bottom: 32px; }
  #message-list .message .message-info {
    display: flex;
    float: left;
    justify-content: flex-start;
    margin: 0px 24px 12px 0px; }
    #message-list .message .message-info .message-author {
      align-items: center;
      display: flex;
      flex-direction: column; }
      #message-list .message .message-info .message-author img {
        margin-bottom: 8px; }
  #message-list .message .message-content {
    text-align: justify; }

#profile {
  display: grid;
  grid-template-areas: "u u u e" "a a a a"; }
  #profile #profile-info {
    grid-area: u; }
  #profile #edit-profile {
    grid-area: e;
    text-align: right; }
  #profile #activity {
    display: grid;
    grid-area: a;
    grid-gap: 1.4em 1em;
    margin: 14px 0px; }
    #profile #activity > div h3 {
      margin-bottom: 12px; }
    #profile #activity > div .thread {
      margin-bottom: 4px; }
    @media screen and (min-width: 960px) {
      #profile #activity {
        grid-template-columns: 1fr 1fr; } }

#admin-threads .thread {
  display: grid;
  grid-column-gap: 1em;
  grid-template-columns: 1fr 64px;
  margin-bottom: 24px; }
  #admin-threads .thread button.delete {
    margin: 0; }
  #admin-threads .thread .thread-more-info {
    padding-left: 10px; }

a {
  color: #EE22AA;
  text-decoration: none;
  transition: .2s linear color; }
  a:hover, a:active {
    color: #FF33B6; }

.user-link {
  border-bottom: 1px solid #E6E6E6;
  color: inherit;
  transition: .2s linear border-bottom-color; }
  .user-link:hover, .user-link:active {
    border-bottom-color: transparent;
    color: inherit; }

[type="button"], [type="submit"], button, .btn {
  background: #CC0077;
  border: 0;
  border-radius: 2px;
  color: #E6E6E6;
  cursor: pointer;
  display: inline-block;
  margin: 8px 0px;
  padding: 8px 14px;
  transition: .25s linear background; }
  [type="button"]:hover, [type="button"]:active, [type="submit"]:hover, [type="submit"]:active, button:hover, button:active, .btn:hover, .btn:active {
    background: #DD1188;
    color: #E6E6E6; }

input[type="text"], input[type="password"],
input[type="email"], input[type="date"],
input[type="number"], textarea {
  background: #D9D9D9;
  border: 0;
  color: #2A2A2A;
  display: inline-block;
  padding: 10px 14px;
  resize: none; }

nav#navbar {
  background: #1C1C1C;
  border-top: 1px solid #505050;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%; }
  nav#navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%; }
    nav#navbar ul li {
      flex-grow: 1; }
      nav#navbar ul li a {
        color: #D9D9D9;
        display: block;
        padding: 12px 20px;
        transition: .2s linear background; }
        nav#navbar ul li a:hover, nav#navbar ul li a:active {
          background: #770033; }
        nav#navbar ul li a span:not(:first-child) {
          display: none; }
        @media screen and (min-width: 960px) {
          nav#navbar ul li a span:not(:first-child) {
            display: initial; }
          nav#navbar ul li a span:first-child {
            display: none; } }
  @media screen and (min-width: 960px) {
    nav#navbar {
      border-top: 0;
      position: initial; } }

.error {
  background: rgba(220, 20, 60, 0.6);
  border-radius: 8px;
  margin: 0px 14px;
  padding: 10px 20px; }

.pointer {
  cursor: pointer; }

@media screen and (max-width: 960px) {
  .table {
    max-width: 96vw; }
    .table table {
      border-collapse: collapse;
      display: block;
      margin: auto;
      max-width: 100%;
      overflow-x: auto;
      width: fit-content; } }

.profile-pic {
  border-radius: 50%;
  height: 64px;
  width: 64px; }

#user-list .fa-check {
  color: #00DD55; }
#user-list .fa-times {
  color: #DD0000; }

/*# sourceMappingURL=style.css.map */
