$black-base: #1C1C1C;
$black:      #2A2A2A;
$black-hard: #393939;

$black-purple: #770033;

$grey-base: #505050;
$grey:      #6A6A6A;
$grey-hard: #7C7C7C;

$white-hard: #D9D9D9;
$white:      #E6E6E6;
$white-base: #F2F2F2;

$purple0: #B7006A;
$purple1: #CC0077;
$purple2: #DD1188;
$purple3: #EE22AA;
$purple4: #FF33B6;
