a {
	color: $purple3;
	text-decoration: none;

	transition: .2s linear color;

	&:hover, &:active {
		color: $purple4;
	}
}

.user-link {
	border-bottom: 1px solid $white;
	color: inherit;

	transition: .2s linear border-bottom-color;

	&:hover, &:active {
		border-bottom-color: transparent;
		color: inherit;
	}
}

[type="button"], [type="submit"], button, .btn {
	background: $purple1;
	border: 0;
	border-radius: 2px;
	color: $white;
	cursor: pointer;
	display: inline-block;
	margin: 8px 0px;
	max-height: 24px;
	padding: 8px 14px;

	transition: .25s linear background;

	&:hover, &:active {
		background: $purple2;
		color: $white;
	}

	@media screen and (max-width: 720px) {
		font-size: 108%;
	}
}

input[type="text"], input[type="password"],
input[type="email"], input[type="date"],
input[type="number"], textarea, select {
	background: $white-hard;
	border: 0;
	color: $black;
	display: inline-block;
	padding: 10px 14px;
	resize: none;

	@media screen and (max-width: 720px) {
		font-size: 108%;
	}
}

.modal {
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.4);
	left: 0;
	display: none;
	height: 100%;
	overflow: auto;
	padding-top: 100px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;

	.modal-container {
		background: $white;
		border: 1px solid $purple1;
		border-radius: 4px;
		color: $black;
		margin: auto;
		width: 90%;
		z-index: 2;

		@media #{$break-md} { width: 85%; }
		@media #{$break-lg} { width: 80%; }

		.modal-header {
			background: $purple1;
			color: $white-base;
			display: grid;
			grid-template-columns: 1fr 32px;
			grid-column-gap: 20px;
			font-size: 150%;
			font-weight: bold;

			.modal-title {
				padding: 8px 0px 8px 16px;
			}

			span.close {
				color: $black-base;
				cursor: pointer;
				font-size: 105%;
				margin: 8px 4px 0px 0px;
			}
		}
	
		.modal-content {
			margin: 16px 24px;
		}
	}
}

nav {
	background: $black-base;
	width: 100%;

	ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
		width: 100%;

		li {
			flex-grow: 1;

			a {
				color: $white-hard !important;
				display: block;
				padding: 12px 20px;

				transition: .2s linear background;

				&:hover, &:active {
					background: $black-purple;
				}

				span:not(:first-child) {
					display: none;
				}

				@media #{$break-lg} {
					span:not(:first-child) {
						display: initial;
					}

					span:first-child {
						display: none;
					}
				}
			}
		}
	}

	&#navbar {
		border-top: 1px solid $grey-base;
		bottom: 0;
		left: 0;
		position: fixed;
	
		@media #{$break-lg} {
			border-top: 0;
			position: initial;
		}
	}

	&#admin-menu { margin-bottom: 24px; }
}

.error {
	background: rgba(220, 20, 60, 0.6);
	border-radius: 8px;
	margin: 20px 14px;
	padding: 10px 20px;
}

.pointer {
	cursor: pointer;
}

.table {

	table {
		tbody {
			tr {
				td {
					text-align: center;
				}
			}
		}
	}
	
	@media #{$break-lg} {
		table {
			width: 100%;
		}
	}

	@media screen and (max-width: 960px) {
		max-width: 96vw;

		table {
			border-collapse: collapse;
			display: block;
			margin: auto;
			max-width: 100%;
			overflow-x: auto;
			width: fit-content;
		}
	}
}

.profile-pic {
	align-items: center;
	display: flex;
	height: 96px;
	width: 96px;
	
	img {
		border-radius: 50%;
		height: auto;
		width: 100%;
	}
}

#user-list {
	.fa-check { color: #00DD55; }
	.fa-times { color: #DD0000; }
}
